@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');

:root {
  --black: #858585;
}

* {
  min-width: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img, video, svg {
  display: block;
  height: auto;
  max-width: 100%;
}

.app_container {
  display: flex;
  justify-content: center;
  height: 95vh;
  align-items: center;
}
body {
 background-color: #f9f9f9;
    background-image: 
        radial-gradient(at 47% 33%, hsl(0.00, 0%, 97%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(0.00, 0%, 100%) 0, transparent 55%);
}


