@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');


:root {
  --black: #858585;
}


* {
  min-width: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}
img, video, svg {
  display: block;
  height: auto;
  max-width: 100%;
}

.app_container {
  display: flex;
  justify-content: center;
  height: 95vh;
  align-items: center;
}

.fade-in {
  opacity: 0; 
  animation: fadeIn 0.3s ease-in forwards; 
}

.task-fade-in {
  opacity: 0; 
  animation: taskBoxFadeIn 0.1s ease-in forwards; 
}
@keyframes taskboxFadeIn {
  from {
    opacity: 0; 
    transform: translateY(-20px); 
  }
  to {
    opacity: 1; 
    transform: translateY(0); 
  }
}

@keyframes fadeIn {
  from {
    opacity: 0; 
   
  }
  to {
    opacity: 1;
  }
}

body {
 background-color: #f9f9f9;
    background-image: 
        radial-gradient(at 47% 33%, hsl(0.00, 0%, 97%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(0.00, 0%, 100%) 0, transparent 55%);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #f1f1f1;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c1c1c1;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
